<div class="container">
  <%= image_tag "top.jpg", class:"img-fluid mx-auto d-block" %>
  <h1 class="coloer-red">トップ画面</h1>
  <button type="button" class="btn btn-primary">Primary</button>
<%= icon('fas', 'flag') %>
<i class="fas fa-star"></i>
<a href="#" class="btn btn-success">ボタン</a>

</div>