<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="card">
  <%= image_tag "drive.jpg", class:"img-fluid mx-auto d-block" %>
    <div class="card-img-overlay">
      <p class="text-black">
        ここにテキストが入ります。ここにテキストが入ります。
        ここにテキストが入ります。ここにテキストが入ります。
        ここにテキストが入ります。ここにテキストが入ります。
        ここにテキストが入ります。ここにテキストが入ります。
        ここにテキストが入ります。ここにテキストが入ります。
        <br>
        <%= link_to "ルート案内おページへ", road_search_path%>
      </p>  
    </div>
  </div>  
</div>
