<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
  <%# 保存先の親（post）を先に入力してその次にcomment %>
    <%# rails6からデフォルトがlocal: trueになったため falseを記述 %>
    <%= form_with model: comment, url: [post, comment], id: 'new_comment', local:false do |f| %>
      <%# 違反ノードが出るため一時的に無効化 %>
      <%# <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control mb-3', row: 4,  placeholder: Comment.human_attribute_name(:body), id: 'js-new-comment-body' %>
      <div class="center"><%= f.submit t('defaults.post'), class: 'btn btn-primary' %></div>
    <% end %>
  </div>
</div>