<div id="road"  class="road-bottom">
  <div class="top-bottom">
    <strong>Start:</strong>
    <input id="start" type="text" name="name" required minlength="4" maxlength="8" size="10">
    <strong>End:</strong>
    <input id="end" type="text" name="name" required minlength="4" maxlength="8" size="10">
  </div>
    <input type="button" value="ルート案内開始" id="roadStart" class="btn btn-primary center pc-center">
    <div id="map"></div><!-- 地図を表示する領域 -->
  <div id="container">
    <%# マップの上にテキストボックス表示 %>
    <div id="sidebar"></div>
  </div>
</div>

<style>
    #map {
        height: 400px;
        width: 100%;
        margin: 0 auto;
    }
  #floating-panel{
    height: 70px;
    width: 250px;
  }
  #container{
    margin: 0 auto;
    display: flex;
  }
  #sidebar{
    margin: 0 auto;
  }

  #road{
    text-align: center;
  }
    
</style>

<script>
    
  

// google-map
async function initMap() {
  const directionsRenderer = new google.maps.DirectionsRenderer();
  const directionsService = new google.maps.DirectionsService();
  //@ts-ignore
  const { Map } = await google.maps.importLibrary("maps");

  map = new Map(document.getElementById("map"), {
    zoom:13,
    center: { lat: 35.6811673, lng: 139.7670516 },
    disableDefaultUI: true,
  });

  

  directionsRenderer.setMap(map);
  directionsRenderer.setPanel(document.getElementById("sidebar"));

  const control = document.getElementById("floating-panel");

  map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

  // ルート案内開始ボタン
  function buttonClick(){
    alert('検索開始');
    calculateAndDisplayRoute(directionsService, directionsRenderer);
  }

  let button = document.getElementById('roadStart');
  button.addEventListener('click', buttonClick);
  
  document.getElementById("start").addEventListener("values", buttonClick);
  document.getElementById("end").addEventListener("values", buttonClick);
}

// ルート案内と描写 
function calculateAndDisplayRoute(directionsService, directionsRenderer) {
  const start = document.getElementById("start").value;
  const end = document.getElementById("end").value;


  directionsService
    .route({
      origin: start,
      destination: end,
      travelMode: google.maps.TravelMode.DRIVING,
    })
    .then((response) => {
      directionsRenderer.setDirections(response);
    })
    .catch((e) => window.alert("ルートリクエストは失敗しました。" + status));
    
}

// 


window.initMap = initMap;
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap&v=weekly" async defer></script>


