<h1>ルート検索機能検証ページ</h1>
<div class="map-container">
  <div id="map" class="map-canvas"></div>
  <div class="map-route">
    <ul id="route-list" class="list-group"></ul>
  </div>
  <div class="map-search">
    <%= button_tag "ルート検索", id: "btn-search", class: "btn btn-primary", onclick: "search()" %>
  </div>
</div>