<% content_for(:title, t('.title')) %>
<div class="container">
   <div class="row">
     <div class="col-lg-8 offset-lg-2">
       <h1><%= t('.title') %></h1>
       <%= render 'form' %>
       <%= link_to (t '.to_road_page'), road_search_path %>
     </div>
   </div>
 </div>