<% content_for(:title, t('.title')) %>
<div class="container">
   <div class="row">
     <div class="col-lg-8 offset-lg-2">
       <h1><%= t('.title') %></h1>
       <h1>ルート検索機能検証ページ</h1>
       <%= render 'form' %>
     </div>
   
   </div>
     <div class="map-search">
    <%= button_tag "ルート検索", id: "btn-search", class: "btn btn-primary", onclick: "search()" %>
  </div>
 </div>