@import '~bootstrap/scss/bootstrap.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

.pc { display: block !important; }
.sp { display: none !important; }

// 現段階ではデスクトップファースト（max-widthの記述で順番が大きい数字が上からになる）

// タブレット用, 960px以下が適用
@media (max-width: 960px) {
  body{
    color:blue;
  }
  .title {
    font-size: 30px;
  }
}

// モバイル用, 480px以下が適用
@media (max-width: 480px) { 
  .pc { display: none !important; }
  .sp { display: block !important; }



  body{
    color:red;
    font-size: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }

  .top{
    margin-top: 10px;
  }

  .top-bottom{
    padding: 10px 0px;

  }

  .road-bottom{
    margin-bottom: 10px;
  }

  .center{
    text-align: center;
    margin-bottom: 15px;
  }

  .float-sp{
    text-align: center;
  }
}


@font-face {
    font-family: "NotoSerifJP";
    src: url("../fonts/NotoSerifJP-Black.ttf"),url("../fonts/NotoSerifJP-ExtraLight.ttf");
  } 


body{
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}

.title{
  text-align: center;
}
.card-radius{
  border-radius: 15px;
}

.card-img-top{
  border-radius: 15px;
}

.card-img-form{
  border-radius: 15px;
  size: 300*200;
}

.card-img{
    max-width: 800px;
}
//  文字を中央寄せ  
.card-img-overlay{
    padding: 0;
    top: calc(25% - 0.5rem);
    text-align: center;
    font-weight: bold;
  }
.text-black{
    font-size: 25px;
    margin: auto;
    max-width: 300px;
    border-radius: 5px;
    background-color: rgba( 204, 255, 204, 0.55 )
}
.pc-center{
  text-align: center;
  margin-bottom: 15px;
}
.top-bottom{
  padding: 10px 0px;

}

.road-bottom{
  margin-bottom: 10px;
}